<h1 mat-dialog-title>This site is asking you to sign in.</h1>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Användarnamn</mat-label>
      <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Lössenord</mat-label>
        <input matInput value="">
      </mat-form-field>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Logga in</button>
</div>