<!-- <mat-tab-group animationDuration="2ms">
  <mat-tab label= Föreningen>
    
  </mat-tab>
  <mat-tab label= stoppisar>
    <app-ds-stoppis-table></app-ds-stoppis-table>
  </mat-tab>
  <mat-tab label= fester>
    
  </mat-tab>
  <mat-tab label= kontakt>
    <app-ds-kontakt></app-ds-kontakt>
  </mat-tab>
  <mat-tab label= länkar>
    
  </mat-tab>
</mat-tab-group> -->

<nav mat-tab-nav-bar >
  <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink == link"
     routerLink="/{{link.link}}" routerLinkActive="active-link"
     > {{link.tab}} </a>
</nav>