/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

.mat-form-field {
    font-size: 14px;
    width: 50%;
    margin-left: 25%;
    padding-top: 1%;
    background-color: white;
  }
  .mat-table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
html, body { height: 100%; }
body, a { 
  margin: 0; 
  background-color:#111144;
  font-family: verdana, tahoma;
  color: silver !important; 
}

